<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá!</h1>
    <p>
      -------------------------------------------
      <br />
      Estou interessado no disco: <%= @disco.name %>
      <br />
      Meu nome: <%= @name %>
      <br />
      Meu email:  <%= @email %>
      <br />
      -------------------------------------------
    </p>
  </body>
</html>