<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá.</h1>
    <p>
      Estou interessado no disco: <%= @disco.name %>
      Meu nome: -- NOME CADASTRADO --
      Meu email:  -- EMAIL CADASTRADO --
      <br />
      -------------------------------------------
      <p>
      Testando a aplicação catálogo virtual de discos. Requisito para uma vaga de emprego na empresa R2A - Soluções Inteligentes.
      <br />
      Status: Em desenvolvimento.
      <br />
      Previsão de entrega: Antes do ano novo.
      <br />
      Pendências: Melhorar o visual da aplicação.
    </p>
  </body>
</html>